<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="dataPath" value="D:\c_sharp\TodoList\TodoList\data\data.csv"/>
		<add key="assetsPath" value="D:\c_sharp\TodoList\TodoList\assets"/>
	</appSettings>
</configuration>